.nopadding{
  padding:0px !important;
}

.d-flex{
  display:flex;
  align-items:center;
}
.innerFlex{
  margin: -1px;
}
.border{
  border: 1px solid rgba(86,61,124,.5);
}
.p-2{
  flex:1;
  padding:5px;
}
.p-3{
  flex:2;
}
.p-4{
  flex:3;
}
.p-3 span{
  padding:5px;
}
.w-50{
  width:50% !important;
}

.w-75{
  width:75% !important;
}

.flex-header{
  padding:10px !important;
  font-size:15px;
  background:#d6c7e8;
}
ol, ul {
  margin-top: 0;
  margin-bottom: 0px;
}
.jumbotron{
  background:rgb(248, 242, 255);
}
.initiative{
  padding:15px;
}
.btn-del, .btn-edit{
  color:#3b548c;
}
.btn-del:hover{
  color:#F44336;
}
.btn-edit:hover{
  color:#4CAF50;
}