.menuBar{
  border: 1px solid #6788be;
  background-color: #93b4df;
}
.rgHeader, .RadGrid_Web20 th.rgResizeCol {
  border: 1px solid;
  border-color: #fff #6e8ec2 #204582 #355a99;
  border-top-width: 0;
  background: 0 -2300px repeat-x #7fa5d7;
}
.rgCommandRow {
  background: #3b548c;
  color: #fff;
}
.unexistance td{
  padding: 8px;
  border-top: 1px solid #ddd;
  max-width: 150px !important;
}

.custom-center{
  display: -webkit-inline-box;
  margin: auto;
}

.table>tbody>tr>tr>td{
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

/*search*/
.search input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  /* background-image: url('searchicon.png'); */
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 2px;
  margin-left: 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search input[type=text]:focus {
  width: 80%;
}

.search button{
  background: transparent;
  font-size: 16px;
  padding: 2px;
}
.search form{
  display: inherit;
}