.menuBar{
  border: 1px solid #6788be;
  background-color: #93b4df;
}
.rgHeader, .RadGrid_Web20 th.rgResizeCol {
  border: 1px solid;
  border-color: #fff #6e8ec2 #204582 #355a99;
  border-top-width: 0;
  background: 0 -2300px repeat-x #7fa5d7;
}
.rgCommandRow {
  background: #3b548c;
  color: #fff;
}
.unexistance td{
  padding: 8px;
  border-top: 1px solid #ddd;
  max-width: 150px !important;
}

.custom-center{
  display: -webkit-inline-box;
  margin: auto;
}